<!DOCTYPE html>
<html>
<head>
    <title>Calculateur Nutriscore</title>
</head>
<body>

    <div style="background: url(https://bootstrapious.com/i/snippets/sn-bg-image/bg.jpg)" class="page-holder bg-cover">

        <div class="container py-5">
            <header class="text-center text-white py-5">
              <h1 class="display-4 font-weight-bold mb-4">Votre prédiction nutriscore</h1>
            </header>
            
           
          
          
          {% if prediction == 0 %}   
            <img alt="Qries" src="{{url_for('static', filename='A.png')}}" width="350" height="150">
            {% endif%}
            
            {% if prediction == 1 %}   
            <img alt="Qries" src="{{url_for('static', filename='B.jpg')}}" width="350" height="150">
            {% endif%}

            {% if prediction == 2 %}   
            <img alt="Qries" src="{{url_for('static', filename='C.jpg')}}" width="350" height="150">
            {% endif%}

            {% if prediction == 3 %}   
            <img alt="Qries" src="{{url_for('static', filename='D.png')}}" width="350" height="150">
            {% endif%}

            {% if prediction == 4 %}   
            <img alt="Qries" src="{{url_for('static', filename='E.png')}}" width="350" height="150">
            {% endif%}
                
      
        </div>
      </div>
    
    
    
 
</body>
</html>
